<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">

        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <% for(var i=0; i<newlistitems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newlistitems[i]%>
                </p>
            </div>
            <%}%>
                <div class="forms">
                    <div class="form1">
                        <form class="item" action="/" method="post">
                            <button type="submit" name="list" value=<%=listTitle %>>+</button>
                            <input type="text" name="newitem" placeholder="New Item" autocomplete="off">

                        </form>
                    </div>
                    <div class="form2">
                        <form action="/delete" method="post" class="item">
                            <button type="submit" name="button2">-</button>
                        </form>

                    </div>
                </div>
    </div>

</body>

</html>